@import './index.css';

.card {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonRow {
  margin-top: 20px;
}

.buttonRow:first-child {
  margin-top: 0;
}

.dropdownRow {
  margin-top: 20px;
  width: 100%;
  align-self: stretch;
}