@import './index.css';

.card {
  padding: 2em;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.buttonRow {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttonRow:first-child {
  margin-top: 0;
}

.dropdownRow {
  margin-top: 20px;
  width: 100%;
}